<!-- <div *ngFor="let allergy of allergies">
   			<div>{{allergy.name}}</div>
 </div> -->


 <header-component></header-component>
<sidebar-component></sidebar-component>

  <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>

            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                    <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>
        </ol>


        <div class="container-fluid">
            <div class="animated fadeIn">
               
                <!--/row-->

              
                <!--/row-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Allergies
                                <a class="" href="#/new-allergy"><i class="icon-pencil icons  "></i></a>
                            </div>

                             <div class="card-header">
                               Search
                                <input class="form-control" type="text"  placeholder="Search by name" 
                                                [(ngModel)]="search" (keyup)="searchAllergy()"/>
                            </div>


                            <div class="card-block">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                           
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let allergy of allergies">
                                            <td><a href="#/allergy/{{allergy.id}}">{{allergy.name}}</a></td>
                                           
                                            <td>
                                                <span><a href="#/allergy/edit/{{allergy.id}}"><i class="icon-pencil icons"></i></a></span> |
                                                  <span><a (click)="deleteAllergy(allergy)"><i class="icon-trash icons"></i></a></span> 
                                            </td>
                                        </tr>
                                       
                                      
                                    </tbody>
                                </table>
                                <nav>
                                    
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>

   

    <footer-component></footer-component>