
<header-component></header-component>
 <sidebar-component></sidebar-component>

 <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>

            
        </ol>
 

        <div class="container-fluid">



            <div class="animated fadeIn">

                <div class="card-columns col-2">
                    <div class="card">
                        <div class="card-header">
                            Responders / Locations
                             <div class="card-actions"> 
                           
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <responder-locations-component></responder-locations-component>
                            </div>
                        </div>
                    </div>
                     <div class="card">
                        <div class="card-header">
                            Responders / Kits
                             <div class="card-actions"> 
                           
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <responder-kits-component></responder-kits-component>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Clients / Status
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <canvas id="canvas-2"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                             Responders / Areas of Concentration
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                 <responder-concentration-component></responder-concentration-component>
                            </div>
                        </div>
                    </div>
                   <!--  <div class="card">
                        <div class="card-header">
                             Responders / Reviews
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                             <div class="chart-wrapper">
                                <responder-kits-component></responder-kits-component>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Users
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <responder-kits-component></responder-kits-component>
                            </div>
                        </div>
                    </div> -->
                    <div class="card">
                        <div class="card-header">
                            Clients / Allergies
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                             <div class="chart-wrapper">
                                <client-allergies-component></client-allergies-component>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Clients / Diseases
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <client-diseases-component></client-diseases-component>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Clients / Disabilities
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <client-disabilities-component></client-disabilities-component>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Newsletters / Subscribers
                            <div class="card-actions">
                                <a href="http://www.chartjs.org">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                <newsletters-subscribers-component></newsletters-subscribers-component>
                            </div>
                        </div>
                    </div>

                     
                </div>
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>

    


<footer-component></footer-component>