
 <div class="sidebar">
       
       <nav class="sidebar-nav">
       
            <ul class="nav">
            
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-speedometer"></i> Dashboard <span class="tag tag-info">NEW</span></a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/responders"><i class="icon-speedometer"></i> Responders </a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/clients"><i class="icon-speedometer"></i> Clients</a>
                </li>
                
                 <li class="nav-item">
                    <a class="nav-link" href="#/drugs"><i class="icon-speedometer"></i> Drugs</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/hmos"><i class="icon-speedometer"></i> HMOs</a>
                </li>


                 <li class="nav-item">
                    <a class="nav-link" href="#/diseases"><i class="icon-speedometer"></i> Medical Conditions</a>
                </li>
                 
                 <li class="nav-item">
                    <a class="nav-link" href="#/allergies"><i class="icon-speedometer"></i> Allergies</a>
                </li>


                 <li class="nav-item">
                    <a class="nav-link" href="#/disabilities"><i class="icon-speedometer"></i> Disabilities</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/states"><i class="icon-speedometer"></i> States</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/local_govts"><i class="icon-speedometer"></i> Local Govts</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/partners"><i class="icon-speedometer"></i> Partners</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#/test-centers"><i class="icon-speedometer"></i> Test Centers</a>
                </li>


                <li class="nav-item">
               
                    <a class="nav-link" href="#/users"><i class="icon-speedometer"></i> Users</a>
                </li>

                
              
               
               
              

            </ul>
        </nav>
    </div>  
